CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
bppSuite/bppalnscore
bppSuite/bppancestor
bppSuite/bppconsense
bppSuite/bppdist
bppSuite/bppmixedlikelihoods
bppSuite/bppml
bppSuite/bpppars
bppSuite/bppphysamp
bppSuite/bppreroot
bppSuite/bppseqgen
bppSuite/bppseqman
bppSuite/bpptreedraw
doc/bppsuite.info
man/*.1.gz
