Source: bppsuite
Section: science
Priority: optional
Maintainer: Julien Dutheil <jdutheil@birc.au.dk>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: bppsuite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbpp-utils (= 1.4.0), libbpp-numcalc (= 1.7.0), libbpp-seq (= 1.6.0), libbpp-phyl (= 1.8.0)
Description: Bio++ program suite
 Includes programs:
 - BppML for maximum likelihood analysis,
 - BppSeqGen for sequences simulation,
 - BppAncestor for ancestral states reconstruction,
 - BppDist for distance methods,
 - BppPars for parsimony analysis,
 - BppSeqMan for file conversion and sequence manipulation,
 - BppConsense for building consensus tree and computing bootstrap values,
 - BppPhySamp for phylogenetic sampling,
 - BppReRoot for tree rerooting.


